[submodule "pack/lang/start/Ionide-vim"]
	path = pack/lang/start/Ionide-vim
	url = https://github.com/ionide/Ionide-vim
[submodule "pack/lang/start/LanguageClient-neovim"]
	path = pack/lang/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "pack/visual/start/conoline.vim"]
	path = pack/visual/start/conoline.vim
	url = https://github.com/miyakogi/conoline.vim.git
[submodule "pack/edit/start/commentary"]
	path = pack/edit/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/lang/start/vim-polyglot"]
	path = pack/lang/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
